{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>
    {{ form }}
    </table>
    <ul>{{ items|unordered_list }}</ul>
    <input type="hidden" name="action" value="add_domains" />
    <input type="submit" name="apply" value="Сохранить" />
</form>
{% endblock %}