{% extends "admin/base_site.html" %}
{% load bootstrap3 %}

{% block content %}
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

<form action="" method="post">{% csrf_token %}
    <table>
    	{{form}}
    </table>
    <ul>{{ items|unordered_list }}</ul>
    <input type="hidden" name="action" value="start" />
    <input type="submit" name="apply" value="Сохранить" />
</form>

<script>
$ = django.jQuery;
$('#id_recipients').change(function(){
	$('tr').show()
	if ($(this).val() == 'test') {
		$('#id_control_shift').closest('tr').hide()
		$('#id_limit').closest('tr').hide()
		$('#id_only_valid').closest('tr').hide()
	}
	else if ($(this).val() == 'target') {
	}
	else {
		$('#id_control_shift').closest('tr').hide()
		$('#id_limit').closest('tr').hide()
		$('#id_only_valid').closest('tr').hide()
	}
	$('#id_now').change();
})
$('#id_now').change(function(){
	if ($(this).prop("checked")) {
		$('#id_date_0').closest('tr').hide()
	} else {
		$('#id_date_0').closest('tr').show()
	}
});
$('#id_recipients').change();
</script>
{% endblock %}