{% extends "admin/base_site.html" %}
{% load humanize %}
{% block content %}
{% if back != None %}<a href="{{ back }}" class="btn btn-default">Назад</a>{% endif%}
<table class="table">
<thead>
 <th>ip</th>
 <th>сессии</th>
 <th>запросы</th>
 <th>state</th>
</thead>
{% for r in res %}
<tr class="{% if r.state = 0 %}success{% elif r.state = 1 %}danger{% elif r.state = 2 %}info{% endif %}">
 <td>
 	{% if r.link %}<a href="?ip={{ r.link }}">{{ r.ip }}</a>
 	{% else %}{{ r.ip }}
 	{% endif %}
 </td>
 <td>
 	<a href="/admin/request/session/?ip__startswith={{ r.ip_link }}" target="_blank">{{ r.session_count|intcomma }}</a>
 </td>
 <td>
 	<a href="/admin/request/log/?ip__startswith={{ r.ip_link }}" target="_blank">{{ r.log_count|intcomma }}</a><br>
 	{% for state,count in r.log_counts.items %}
 	 <a href="/admin/request/log/?ip__startswith={{ r.ip_link }}&ip_state={{ state }}" target="_blank">
 	 	{% if state = 0 %}<span class="label label-success">Одобрено
	    {% elif state = 1 %}<span class="label label-danger">Заблокировано
	    {% elif state = 2 %}<span class="label label-info">Скрыто
	    {% elif state = 3 %}<span class="label label-default">Нейтральный
	    {% endif %}={{ count|intcomma }}</span></a><br>
 	{% endfor %}
 
 </td>
 <td>
 	<form>
 		<input type="hidden" name="ip_state" value="{{ r.ip_link }}">
 		<input type="text" class="form-control" name="ip_comment" value="{{ r.comment }}" placeholder="{{ r.parent_comment }}">
 		<button type="submit" name="approve" class="btn btn-success">одобрить</button>
 		<button type="submit" name="block" class="btn btn-danger">заблокировать</button>
 		<button type="submit" name="hide" class="btn btn-info">скрыть</button>
 		<button type="submit" name="none" class="btn btn-default">удалить статус</button>
 	</form>
 </td>
</tr>
{% endfor %}
</table>
{% endblock %}