{% extends "admin/base_site.html" %}
{% load humanize %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<head>
  <!-- <meta http-equiv="refresh" content="10" > -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  {{ form.media }}

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{ plot_title }}'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e.%b',
                year: '%y'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'кол-во доменов'
            },
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e.%b %H:%M}: {point.y}'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            data: [
                {% for d, v in plot%}
                [Date.UTC({{ d.year }}, {{ d.month }}, {{ d.day }}, {{ d.hour }}, {{ d.minute }}), {{ v }}], 
                {% endfor %}
            ]
        }]
    });
});
</script>

</head>

<style>
td.digit {text-align:right;}
td {vertical-align:top;}
</style>
<div class="container">

  <div class="row">
    <h3>Фильтр</h3>
    <div class="col-md-4 well">
      <form  action="" method="GET">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input id="submit" name="submit" class="btn btn-default pull-right" type="submit" value="Посмотреть">
      </form>
    </div>
    <div class="col-md-8">
      <h3>Статистика скрипта CHECK</h3>
      <table class="table">  
        <thead>
         <th>&nbsp;</th>
         <th class="digit">запросов (шт)</th>
         <th class="digit">ошибок (%)</th>
         <th class="digit">положительно (%)</th>
         <th class="digit">отрицательно (%)</th>
         <th class="digit">повтор (%)</th>
         <th class="digit">время одного запроса(с)</th>
        </thead>
       {% for key,stat in check_stat %}
       </tr>
        <td>{{ key }}</td>
        {% if stat == None %}
        <td colspan="6"></td>
        {% else %}
        <td class="digit">{{ stat.count|intcomma }}</td>
        <td class="digit"><span title="{{ stat.error|intcomma }}">{{ stat.error_p|floatformat:2|intcomma }}</span></td>
        <td class="digit"><span title="{{ stat.true|intcomma }}">{{ stat.true_p|floatformat:2|intcomma }}</span></td>
        <td class="digit"><span title="{{ stat.false|intcomma }}">{{ stat.false_p|floatformat:2|intcomma }}</span></td>
        <td class="digit"><span title="{{ stat.none|intcomma }}">{{ stat.none_p|floatformat:2|intcomma }}</span></td>
        <td class="digit">{{ stat.avg_time|floatformat:2|intcomma }}</td>
        {% endif %}
       </tr>
       {% endfor %}
      </table>
    </div>
    <div class="col-md-12">
      <h3>График</h3>
      <div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Данные по статусам</h3>
      <table class="table">
        <thead>
         <th>Описание</th>
         <th>Статусы</th>
         <th>Сейчас</th>
         <th>Изменение</th>
        </thead>
        {% for name, status, current, change in state %}
          <tr>
           <td>{{ name }}</td>
           <td>{{ status }}</td>
           <td class="digit">
            {{ current|intcomma }}
           </td>
           <td class="digit">
            {% if change == None %}
            -
            {% else %}
            {{ change|intcomma }}
            {% endif %}
           </td>
          </tr>
        {% endfor%}
      </table>
    </div>
  </div>


</div>
{% endblock %}