{% extends "admin/base_site.html" %}

{% block content %}
{% if s %}
<table>
 <tr><td>Всего</td><td>{{ s.total }}</td></tr>
 <tr><td>Новых</td><td>{{ s.new }}</td></tr>
 <tr><td>Существующих</td><td>{{ s.exist }}</td></tr>
</table>
<hr>
{% endif %}

<div>
<b><i>Формат файла:</i></b><br>
username;password
</div>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить" />
</form>

<hr>
Всего аккаунтов: {{ total }}<br>
Активных аккаунтов: {{ active }}<br>
НЕактивных аккаунтов: {{ unactive }}<br>
Загружено токенов: {{ loaded }}<br>
<hr>
Загрузка токенов: <a href="/admin/main/task/{{ task.id }}/">{{ task }}</a><br>
{% if task.is_active_proc%}
<img src="/static/admin/img/icon-yes.gif"> Выполняется <a href="?stop">Остановить</a>
{% else %}
<img src="/static/admin/img/icon-no.gif"> Стоит <a href="?start">Запустить</a>
{% endif %}
<br>
Обновлено: {{ task.updated_at }}<br>
Статус: {{ task.status_string }}<br>
{% if task.status == 3 %}
{% autoescape off %}
Ошибка: {{ task.get_exception }}
{% endautoescape %}
{% endif %}
{% endblock %}