{% extends "admin/base_site.html" %}

{% block content %}
Host: {{ host }}<br>
<hr>
Random proxy:<br> 
{% if proxy == False %}
 - нет доступных прокси<br>
{% else %}
adderss: {{ proxy.address }}<br> 
type: {{ proxy.type }}<br> 
{% endif %}
<hr>
{% if result %}
<pre>{{ result }}</pre>
<hr>
{% endif %}

<form action="" class="form-inline">
	<div class="form-group">
    	<label>Время перезагрузки:</label>
	 	<input type="number" name="restart_time" value="{{ restart_time }}" class="form-control" step="0.5">
    </div>
	<input type="submit" name="set_restart_time" value="Сохранить" class="btn btn-default">
</form>
<table>
 <thead>
  <th>порт</th>
  <th>статус активности</th>
  <th>перезагрузка</th>
  <th>callback1</th>
  <th>callback2</th>
 </thead>
 {% for s in stat %}
 <tr>
 	<td><a href="/admin/proxy/trafic/{{ s.port }}/">{{ s.port }}</a></td>
 	<td>
 	{% if s.is_active == None %}
 		<img src="/static/admin/img/icon-unknown.gif" alt="None"> неизвестно
 	{% elif s.is_active == False %}
 		<img src="/static/admin/img/icon-no.gif" alt="True"> перезагружается
 	{% else %}
 		<img src="/static/admin/img/icon-yes.gif" alt="True"> активен ({{ s.is_active }})
 	{% endif %}
 	</td>
 	<td><a href="/proxy/stat/?reboot={{ s.port }}&out=1">reboot</a></td>
 	<td><a href="/proxy/activate/{{ s.port }}/">callback1</a></td>
 	<td><a href="/proxy/unactivate/{{ s.port }}/">callback2</a></td>
 </tr>
 {% endfor %}
</table>
{% endblock %}