{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/bootstrap.js' %}"></script>
{{ form.media }}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{ plot_title }}'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e.%b',
                year: '%y'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Мб'
            },
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e.%b %H:%M}: {point.y}'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            name: 'recieve',
            data: [
                {% for d, v in rx %}
                [Date.UTC({{ d.year }}, {{ d.month }}, {{ d.day }}, {{ d.hour }}, {{ d.minute }}), {{ v }}], 
                {% endfor %}
            ]
        },{
            name: 'transmit',
            data: [
                {% for d, v in tx %}
                [Date.UTC({{ d.year }}, {{ d.month }}, {{ d.day }}, {{ d.hour }}, {{ d.minute }}), {{ v }}], 
                {% endfor %}
            ]
        },{
            name: 'total',
            data: [
                {% for d, v in total %}
                [Date.UTC({{ d.year }}, {{ d.month }}, {{ d.day }}, {{ d.hour }}, {{ d.minute }}), {{ v }}], 
                {% endfor %}
            ]
        }]
    });
});
</script>
<div class="container">
  <div class="row">
    <div class="col-md-4 well">
      <h3>Фильтр</h3>
      <form  action="" method="GET">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input id="submit" name="submit" class="btn btn-default pull-right" type="submit" value="Посмотреть">
      </form>
    </div>
    <div class="col-md-8">
      <h3>График</h3>
      <div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
    </div>
  </div>
</div>

{% endblock %}