{% extends "admin/base_site.html" %}

{% block content %}
Всего аккаунтов: {{ total }}<br>
Генерированных аккаунтов: {{ generated }}<br>
Активных аккаунтов: {{ active }}<br>
НЕактивных аккаунтов: {{ unactive }}<br>
Загружено токенов: {{ loaded }}<br>
<hr>

Регистрация аккаунтов: <a href="/admin/main/task/{{ task.id }}/">{{ task }}</a><br>
{% if task.is_active_proc %}
<img src="/static/admin/img/icon-yes.gif"> Выполняется <a href="?stop">Остановить</a>
{% else %}
<img src="/static/admin/img/icon-no.gif"> Стоит
{% endif %}
<br>

Обновлено: {{ task.updated_at }}<br>

{% if task.status_string %}
Статус: {{ task.status_string }}<br>
{% endif %}

{% if task.start_at %}
Запланированное время начала: {{ task.start_at }}<br>
{% endif %}

{% if task.stop_at %}
Запланированное время конца: {{ task.stop_at }}<br>
{% endif %}


{% if task.status == 3 %}
{% autoescape off %}
Ошибка: {{ task.get_exception }}
{% endautoescape %}
{% endif %}

{% if form %}
<hr>
	<form action="" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <table>
	    	{{ form }}
	    </table>
	    <input type="submit" name='start' value="Запустить" />
	</form>

	<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script>
	$ = django.jQuery;
	$('#id_start_now').change(function(){
		if ($(this).prop("checked")) {
			$('#id_start_at').closest('tr').hide()
			$('#id_stop_at').closest('tr').hide()
		} else {
			$('#id_start_at').closest('tr').show()
			$('#id_stop_at').closest('tr').show()
		}
	});
	$('#id_start_now').change();
	</script>
{% endif %}

<hr>
<a href="/admin/main/config/?group=account_reg">Параметры скрипта регистрации</a><br>

{% autoescape off %}
{% if stat %}
<hr>
<h3>Статистика</h3>
<table class="table table-hover">
{% for k,v in stat %}
	{% if v == '---' %}
	<tr class="active">
	{% else %}
	<tr>
	{% endif %}
	<td>{{ k }}</td>
	<td>{{ v }}</td>
	</tr>
{% endfor %}
</table>
{% else %}
<b><i>СТАТИСТИКА НЕДОСТУПНА</i></b>
{% endif %}
{{ log.result }}
<hr>
{% endautoescape %}

{% if params %}
<hr>
<h3>Параметры</h3>
<table>
{% for k,v in params %}
	<tr>
	<td>{{ k }}</td>
	<td>{{ v }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}


<hr>
<table class='table'>
 <thead>
  <th>ID</th>
  <th>Начало</th>
  <th>Конец</th>
 </thead>
{% for log in logs %}
<tr>
 <td><a href="?id={{ log.id }}">{{ log.id }}</a></td>
 <td>{{ log.started_at }}</td>
 <td>{{ log.stopped_at }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}